body {
	font-family: 'Catamaran', sans-serif;
}

.jumbotron {
	padding-bottom: 0;
	padding-right: 30px; 
	margin-bottom: 0;
}

#hiddenDiv {
    display: none;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}
}

#btn-lg {
	margin: 50px;
	padding: 5px;
}

#startGame {
	display: block;
}

#restart {
	display: none;
}

#results-panel {
	display: none;
}

#the-question {
	margin-top: 20px;
	margin-bottom: 20px
	font-weight: bold;
	size: 26pt;
}